<!DOCTYPE html>
<html>

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="last.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap" rel="stylesheet"> 
    <link rel="icon" href="images/cuc.png" type="image/gif">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap" rel="stylesheet">   -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>

<body id = "b1">

<!-- <nav class="topnav">

    <ul>
        <a class="corner" href="/">CUC</a>
        <li><a href="./support">Support</a></li>
        <li><a href="/about">About</a></li>

        <li><a class="active"  href="./">Projects</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav> -->
 
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CUC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./support">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/about">
            About
          </a>
        </li>
         <li class="nav-item active">
          <a class="nav-link " href="./">
            Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </div>
  </nav>
 
 
<div class="all">
    







 <h1   style="font-family: 'Courier New', monospace;margin-top:1em;font-size:38px"  align='center' >Name Of The Field</h1>
                </br>

                <button type="button" class="collapsible">{{dt.title}}</button>
                            <div  class="contentt" >
                              <ul>
                                <li> <b> Description: </b> {{dt.desc}} </li>
                                </br>

                                  <li>Sources : {{dt.source}}
                                  {% if dt.link1 %}
                                  <a href="{{dt.link1}}" target="_blank" style="color:white">Link1</a>
                                    {% endif %}
                                  {% if dt.link2 %}
                                  <a href="{{dt.link2}}" target="_blank" style="color:white">Link2</a>
                                    {% endif %}
                                  {% if dt.link3 %}
                                  <a href="{{dt.link3}}" target="_blank" style="color:white">Link3</a>
                                    {% endif %}
                                  {% if dt.link4 %}
                                  <a href="{{dt.link4}}" target="_blank" style="color:white">Link4</a>
                                    {% endif %}
                                  </li>

                                </br>

                                  <li><b>Output : </b>{{dt.outp}}</li>

                                </br>
                                <li><b>Project by : </b><a href="mailto: {{dt.email}}" target="_blank" style="color:white">{{dt.name}}</a></li>

                              </ul>

                              <div class="container">
                                <h3>COMMENTS</h3>
                                <div class="my-2">
                                  {% if user.is_authenticated %}
                                  <form action="postComment" method="POST">
                                    {% csrf_token %}
                                  <!-- <input type="text" name="comment" placeholder="Enter comment here">
                                  <input type="hidden" name="postSno" value="{{dt.sno}}">
                                  <input type="submit" value="Submit"> -->
  
                                  <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="comment"></textarea>
                                    <input type="hidden" name="postSno" value="{{dt.id}}">
                                    <input type="hidden" name="parentSno" value="">
                                    <br>
                                    <input type="submit" value="Submit" class="btn btn-success" >
                                  </div>
  
                                  </form>
                                  {% else %}
                                  <p>Please <a href="/account/login" style="color:black">login</a> to post a comment</p>
                                  {% endif %}
                            
                              </div>
                             
                             {% for com in comment %}
                                {% if com.post == dt and com.parent == None %}
                                <div class="row my-3">
                                  <div class="col-md-1"><img class="userlogo rounded mx-auto d-block w-100 p-1 border border-dark" src="{%static 'images/user.png' %}" alt="user"></div>
                                  <div class="col-md-11"><b>{{ com.user }}</b> <span class="badge badge-secondary">{{ com.timestamp | naturaltime }}</span>
                                    <div> {{ com.comment }}</div>
                                    <div class="reply mx-0">

                                      {% if user.is_authenticated %}
                                      <button class="btn btn-sm btn-primary my-2" type="button" data-toggle="collapse" data-target="#replyBox{{com.sno}}" 
                                      aria-expanded="false" aria-controls="replyBox{{com.sno}}"> Reply</button>
                                      
                                      <div class="collapse" id="replyBox{{com.sno}}">
                                        <div>
                                          
                                          <form action="postComment" method="POST">
                                            {% csrf_token %}
          
                                          <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a reply here" id="floatingTextarea" name="comment"></textarea>
                                            <input type="hidden" name="postSno" value="{{dt.id}}">
                                            <input type="hidden" name="parentSno" value="{{com.sno}}">
                                            <br>
                                            <input type="submit" value="Submit" class="btn btn-success" >
                                          </div>
          
                                          </form>

                                        </div>
                                      </div>
                                      
                                      {% endif %}
                                      <div class="replies my-2">
                                        {% for reply in replyDict|get_val:com.sno %}
                                        <div class="row">
                                          <div class="col-md-1">
                                            <img class="userlogo rounded mx-auto d-block w-100 p-1 border border-dark" src="{%static 'images/user.png' %}" alt="user">
                                          </div>
                                          <div class="col-md-11">
                                          
                                            <b>{{ reply.user }}</b> <span class="badge badge-secondary">{{ reply.timestamp | naturaltime }}</span>
                                    <div> {{ reply.comment }}</div>
                                          </div>
                                        </div>
                                        <br>
                                        {% endfor %}
                                    </div>
                                  </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %} 

                               <!-- <div class="row my-3">
                                  <div class="col-md-2">Image here</div>
                                  <div class="col-md-10">Comment here</div>
                                </div>
                              </div> -->

                           </div>

                            </div>












</div>

<!-- <footer > 
    Contact Us: <a href="mailto:teamcuc18@gmail.com" target="_blank">Team CUC</a>
</footer> -->
<div id="container">
    
    <footer class="text-black-400 bg-gray-900 body-font">
      <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-xl">Team CUC</span>
        </a>
        <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© IIT BHU Varanasi —
          <a href="/" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">teamcuc18@gmail.com</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-instagram"></a>
        </span>
      </div>
  </footer>
</div>

    <!-- Scripts for Container of Collapsible tab -->
    <script type="text/javascript">
        var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
    </script>
</body>


</html>
